language: node_js
node_js: node
addons:
  chrome: stable
script:
- npm run lint
- |
  if [ $TRAVIS_PULL_REQUEST != false ] && [ $TRAVIS_SECURE_ENV_VARS == true ]; then
    echo "Pull request with secure environment variables, running Sauce tests...";
    npm run test:sauce || travis_terminate 1;
  else
    echo "Not a pull request and/or no secure environment variables, running headless tests...";
    npm run test:headless || travis_terminate 1;
  fi
after_success:
- frauci-update-version -d=skip && export TRAVIS_TAG=$(frauci-get-version)
env:
  global:
  - SAUCE_USERNAME: Desire2Learn
  - secure: gcOFFoC7sDNbaWPuEPHsMFz2G6BcVRe7vr/Qm8nvo+z6g0lSL9uu4nITvkmC35EMB7t3w5oXUw4wc7O6rbdnXstFEdD+D2kpTJKU/WTl35U91Tyj3HapbBsYQGNCZqrJlkdpW3PB0xR8pr2RKn9Y2K/Ha3AApESyiCQgcHigfBw+7p6sh3entm9x+5/IlscspAQ2xGhnIVhE8iq7exf72f10ctbYkY74hrtvEGAGZDKH28MMBDgPN0OK0eEdAFWIKtGtih1ny/vrMpiywjJjyhhEPq2GNkHU6v4N3pddMuXwjiRvR7u+VzHIo7LCZ0gfScw+/34u3BQkEVFHfG8MOE2/4csgHqAvsbIjcN+h9ZHIFw2gVLl/eLG1PVd5lRwtD0VwnAeX4E3QiCSwDg9FsIDpnm8xRFdQD7h5bBZcNs+gNq3dxjYvnI1iGQ0qeSwYyOYwY81/H4z4qZP/n1pv75Pk6IGHk1aiUT0fVbjQqh8fb6Jnlw/5EaW1rESmmMWVXxKm7hINfHgfQBDj0TQvWRtuX/GyHzIDQ1IpyA2/GG/YrweSwnkz+MCoLn0HxTOiVGC7fvbxK5GqtpKfmvauIFDfjscKADZ2eKGZhg8FpTE4lkYkprMBSF15F5XYoD8LZtx3mxH+An2PrPPsbhBc0eJ963UkfylNuW9ex6MMv5o=
