name: CI
on: pull_request
jobs:
  lint-chrometest-visdiff:
    timeout-minutes: 5
    runs-on: ubuntu-latest
    steps:
      - uses: Brightspace/third-party-actions@actions/checkout
      - uses: Brightspace/third-party-actions@actions/setup-node
      - name: Install dependencies
        run: npm install
      # lint
      - name: Lint
        run: npm run lint
      # test
      - name: Test
        run: npm run test:headless
      # vis diff
      - name: Visual Diff Tests
        uses: BrightspaceUI/actions/visual-diff@master
        with:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_SESSION_TOKEN: ${{ secrets.AWS_SESSION_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          TEST_PATH: ./test/visual-diff/**/*.visual-diff.js

  mac-test:
    timeout-minutes: 7
    runs-on: macos-latest
    steps:
      - uses: Brightspace/third-party-actions@actions/checkout
      - uses: Brightspace/third-party-actions@actions/setup-node
      - name: Install dependencies
        run: npm install
      - name: Unit Tests
        run: npm run test:headless:mac

